body {
  min-height: 1200px;
}

.section_space_style {

margin-top: 7rem;
margin-bottom: 5rem;

}

.title_section_space {

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.jumbotron {

  background-color: none;

}

.background_styles {

}

.answer_button_style {

  position: fixed;
  top: 5px;
  right: 0;
  border-radius: 0px;
  z-index: 50000000000000000;
}
