body {
  min-height: 1200px;
}

.section_space_style {

margin-top: 7rem;
margin-bottom: 5rem;

}

.flip-card-front {

  .padding_iconstyle_front {

    padding-top: 9rem;
    margin-bottom: 9rem;
  }


}


.title_section_space {

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.jumbotron {

  background-color: none;

}

.answer_button_style {

  position: fixed;
  top: 0px;
  right: 0;
  border-radius: 0px;
  z-index: 50000000000000000;
}

.card_iconstyle {

}

.memory_card_margin {

  margin-bottom: 30rem;
}

.card_margin {

  margin-bottom: 30rem;
}

.thumnbnail_css_inventor {
background-size: cover;
background-image: url(../img/atari-inventor.jpg);
height: 12rem;
width: 100%;
}
